 .form_container{
    max-width: 300px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 15px;
 }

 .form_container input[type='submit']{
    border-radius: 8px;
    background-color: #25b456;
    color: #FFF;
    border: none;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
 }

 .form_container input[type='submit']:hover{
    background-color: #1c8a42;

 }

 .form_container p{
    margin-top: 1em;
 }

 .form_container p {
    color: #075b76;
    font-weight: bold;
 }

.form_container h2{
   
    font-family: 'Cinzel', serif;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #075b76;
      font-size: 30px;
}

/*form de sepultados*/

.preview_sepultado_image{
   display: flex;
   justify-content: center;
   margin: 1em;
}
.preview_sepultado_image img{
   width: 100px;
   height: 100px;
   margin-left: 1em;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Campos de texto */
.form_container input[type="text"],
.form_container input[type="email"],
.form_container input[type="password"],
.form_container input[type="tel"] {
  width: 100%;
  padding: 0.8em 1em;
  border: 2px solid #075b76;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Efeito no foco */
.form_container input:focus {
  border-color: #25b456;
  box-shadow: 0 0 5px rgba(37, 180, 86, 0.5);
}

/* Labels (se você usar no Input.jsx) */
.form_container label {
  font-weight: bold;
  color: #075b76;
  margin-bottom: 0.3em;
  display: block;
}
.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input {
  width: 100%;
  padding: 0.8em 1em;
  border: 2px solid #075b76;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #25b456;
  box-shadow: 0 0 5px rgba(37, 180, 86, 0.5);
}
